body{
font-family: "Red Hat Display";
   margin: 0;
   word-spacing: 2px;
   line-height: 32px;
   background-color: var(--main-color);
}

p{
   font-weight: 450px;
}

a{
   text-decoration: none;
    color: inherit;
}

:root{
   --main-color:white;
   --secondary-color:#10B981;
   --secondary-hover-color:#20cb92;
}