.title-section, .features-section ,.news-section,.companies-section{
    padding-top: 65px;
    padding-bottom: 96px;
    text-align: center;
}

.display-image{
    width: 1280px;
    margin: 20px;
    border: solid  15px;
    border-color: #CDCDCE;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
     box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
    margin-top: 40px;

}


.banner{
    margin: 0 304px 0 304px;
    padding:0  200px 0 200px;
}
.banner h1 {
    font-size: 58px;
    line-height: 60px;
    font-weight: bold;
    padding-bottom: 0px;
}
.banner h1 span{
    color: #10B981;
}
.banner p { 
    font-size: 19px;
    line-height: 32px;

}
.banner button{
     padding: 9px 16px 9px 16px;
     border-radius: 10px;
     border: none;
     font-size: 14px;
     margin: 10px;
}
.banner button:hover{
    cursor: pointer;
}
.download-iso-button{
    background-color: #10B981;
    color: var(--main-color);

}
.download-iso-button:hover{
    background-color: #20cb92;
}
.migrate-button{
    background-color: #F6F6F7;
}

.digitalpublicgoods{
    margin-top: 300px;
    
}
.digitalpublicgoods img{
    padding-top: 50px;
    width:135px;

}
.digitalpublicgoods p{

    font-size: 15px;
}


/* features section */


.features-top-section{
     margin: 0 304px 0 304px;
        padding:0  200px 0 200px;
}

.moto{
    color: #10B981;
}
.features-section h2,.news-section h2,.companies-section h2{
    font-size: 36px;
}

.moto-description,.news-description{

    font-size: 19px;
}


.features-cards-section,.news-cards-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 45px;
    row-gap: 45px;
    
    align-items: start;
    text-align: start;
     margin: 50px 191px 0 191px;
}
.feature-card-title-section{
    display: flex;
    flex-direction: row;
}
.feature-card-title-section p{
    font-weight: bold;
    font-size: 16px;
}
.feature-card-title-section img{
    width: 20px;
    padding-right: 10px;
    filter: invert(65%) sepia(96%) saturate(2727%) hue-rotate(117deg) brightness(90%) contrast(87%);
}

.card-description{

    font-size: 16px;
    font-weight: 450;
}


/* news section */

.news-card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 3px 20px 3px 20px;
}

.news-card:hover{
    cursor: pointer;
}

.news-card-title{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.news-card h3{
    font-size: 15px;
    padding: 0;
    margin-bottom: 0;
}
.news-date{
    font-size:14px;
    padding: 0;
    margin: 0;
    color: #71717A;
}
.news-card-description{
    font-size: 15px;
    line-height: 23px;
}


.companies-cards-section{

     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 45px;
    row-gap: 45px;
    
    align-items: start;
    text-align: start;
     margin: 50px 191px 0 191px;
}

.companies-card{

    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        padding: 32px 32px 32px 32px;


}

.companies-card img{
    width: 160px;
    height: 40px;
    object-fit: contain;
}


